.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 50px;
    border-bottom: 2px #9a9696 solid;
    margin:0px 50px;
}
.cart-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
   
}
.cart-options img{
    width: 40px;
    margin-right: 40px;
}
.black-button{
    width: 150px;
    height: 53px;
    background-color: black;
    color: white;
    border: none;
}
.menu{
    border-bottom: 2px #9a9696 solid;
    margin:0px 50px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
}
.home-category,.featured-collection,.featured-pro-section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-content: center;
    margin:50px 50px;
}
.home-category p{
    text-align: center;
}
.featured h2,.featured-product h2{
    text-align: center;
    font-size: 2em;
}
.featured h3{
    font-size: 2em;
}
.featured-collection{
    margin: 5rem 7rem;
    align-items: center;
}
.featured-child{
    padding-left: 50px;
    margin-top:-20px;
}
.featured-child p{
    margin-bottom:2.5em;
    font-size: 1.1em;
    line-height: 1.5em;
}
.featured-pro-section p,h3{
    text-align:center;
}
.featured-pro-section h3{
    font-weight: bold;
}
.footer{
    padding:2em;
    text-align: center;
    border-top: 2px #9a9696 solid;
    margin:0px 50px;
    font-weight: bold;
}
