.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 50px;
    border-bottom: 2px #9a9696 solid;
    margin:0px 50px;
}
.cart-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
   
}
.cart-options img{
    width: 40px;
    margin-right: 40px;
}

.black-button{
    width: 150px;
    height: 53px;
    background-color: black;
    color: white;
    border: none;
}

.button-link {
    text-decoration: none;
    color: white;
}
.menu{
    border-bottom: 2px #9a9696 solid;
    margin:0px 50px;
}
.menu nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
}

.header-link {
    text-decoration: none;
    color: rgb(46, 38, 38);
}

.header-link:hover {
    color: black;
}

.home-category,.featured-collection,.featured-pro-section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-content: center;
    margin:50px 50px;
    column-gap: 50px;
}
.home-category p{
    text-align: center;
}
.featured h2,.featured-product h2{
    text-align: center;
    font-size: 2em;
}
.featured h3{
    font-size: 2em;
}
.featured-collection{
    margin: 5rem 7rem;
    align-items: center;
}

.footer{
    padding:2em;
    text-align: center;
    border-top: 2px #9a9696 solid;
    margin:0px 50px;
    font-weight: bold;
}
.shop-page {
    padding: 50px 50px;
}
.shop-page h1{
    text-align: center;
    margin-bottom: 100px;
}

.shop-product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: flex-start;
}

.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 50px;
}
  
.price {
    color: grey;
    font-size: 22px;
}

.card img {
    width:100%;
}
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}


/* For product page starts */
 .product-page-section1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:80px;
   
 }
 .product-page-img{
    width: 50%;
    border: none;
    border: 1px solid rgb(194, 11, 11); 
    border-radius:15px;
    margin:10px;
  }
 .dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* margin-bottom: 10px; */
 }
 .dropdown select{
    margin-top: 5px;
    width:25%;
    padding:5px;
 }
 .dropdown label{
   font-size:13px;
 }
 #size{
    width:15%;
 }
 #quantity{
    width:20%;
 }
 .add-to-cart-btn,.buy-now-btn{
    width:50%;
    display:block;
    padding:10px;
 }
 .add-to-cart-btn{
    margin-top:25px;
    background-color: white;
 }
 .buy-now-btn{
    margin-top:12px;
    background-color: black;
    color:white;
 }
 .product-page-section2{
    width:45%;
    margin: -30px 0px 50px 50px;
    padding-left:75px;
    height: 14rem;
    font-size: 0.9rem;
 }
 .product-page-section2 ul{
    margin-left:-20px;
    margin-top:10px;
 }
 .product-page-section3{
    margin: 100px 50px 50px 50px;
 }
/* product page Ends */
.featured-post{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position:static;
    /* z-index: 1; */
}

.featured-post img{
    width: 100%;
}

.featured-post-content{
    display: flex;
    padding-left: 30px;
    padding-bottom: 10px;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    /* border-bottom: 1px solid #9a9696; */
}

.featured-post-heading{
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.featured-post-date{
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    font-weight: 100;
}

.featured-heading{
    border: 1px solid black;
    /* font-family: 'PlayFair Display', serif; */
    width: 400px;
    margin-left: 202px;
    margin-top: -30px;
    letter-spacing: 0.5em;
    position: absolute;
    background-color: #ffffff;
    height: 50px;
    padding: 3px 20px 20px 20px; 
    font-weight: bolder;
}

.featured-heading-detailing{
    font-weight: 100;
}
#email-id{
    border: none transparent;
    outline: none;
    border-bottom: 1px solid black;
}

.newpost-alert{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 100px;
    height: 230px;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
}

.blog-button{
    width: 150px;
    height: 38px;
    background-color: rgb(141, 45, 231);
    color: white;
    border: none;
    margin-left: 10px;
    margin-bottom: -200px;
    font-size: 15px;
    cursor: pointer;
}

.blog-button:hover{
    background-color: black;
}

.email-info{
    color: grey;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
}

.blog-component{
    display: flex;
    flex-direction: row;
    height: 350px;
    border: 1px solid black;
    width: 70%;
    margin-bottom: 30px;
}

.train-of-thought{
    margin-left: 130px;
    margin-top: -50px;
    width: 60%;
    margin-right: -200px;
    /* border-right: 1px solid black; */
}

.heading-class{
    padding-bottom: 50px;
}

.blog-post{
    height: 100%;
    margin: 0px;
    width: 300px;
    border: none;
}

.featured-post-heading, .featured-post-para{
    cursor: pointer;
}

.featured-post-content:hover{
    color:  rgb(141, 45, 231);
}

/* .train-class{ */
    /* letter-spacing: 0.4em; */
    /* margin-bottom: 70px; */
/* } */

.more-posts-btn{
    margin-left: 170px;
    margin-bottom: 90px;
}

.Page-content-class{
    display: flex;
    flex-direction: row;
}
  
  /* Control the left side */
  .left {
    height: 100%;
    width: 75%;
    /* padding-top: 20px; */
  }
  
  /* Control the right side */
  .right {
    height: 100%;
    width: 25%;
    right: 0;
    border-left: 1px solid black;

  }

.spacing-class{
    letter-spacing: 0.4em;
    font-weight: 100;
}

.followMeImage{
    width: 150px;
}

.about-us{
    padding-left: 100px;
    margin-top: -70px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    padding-right: 50px;
    word-spacing: 7px;
}

.about-section{
    border-bottom: 1px solid #000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-class{
    padding-top: 20px;
}

.aboutUsImage{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.about-page-btns{
    border: none;
    background-color: white;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 300;
}

.about-page-btns:hover{
    color: rgb(141, 45, 231);
}

.about-image-section{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.about-image{
    display: flex;
}

.about-image img{
    width: 50%;
    margin: 5px;
}

.icon-gap{
    display: flex;
    /* flex-direction: column; */
    justify-content:space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pointer-class{
    cursor: pointer;
}

.subscribe-class{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 70px;
    height: 230px;
    align-items: left;
    font-family: 'Inter', serif;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 100px;
}

.subscribe-heading{
    font-size: 25px;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: lighter;
}

.subscribe-box{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.subscribe-button{
    width: 344px;
    height: 40px;
    background-color: rgb(141, 45, 231);
    color: #ffffff;
    border: none;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
}

.subscribe-button:hover{
    background-color: #000;
}

.pick-of-the-month-image{
    border: 1px solid black;
    width: 85%;
    /* margin: auto; */
    margin-bottom: 40px;
    margin-top: 40px;
}
