.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 50px;
    border-bottom: 2px #9a9696 solid;
    margin:0px 50px;
}
.cart-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
   
}
.cart-options img{
    width: 40px;
    margin-right: 40px;
}

.black-button{
    width: 150px;
    height: 53px;
    background-color: black;
    color: white;
    border: none;
}

.button-link {
    text-decoration: none;
    color: white;
}
.menu{
    border-bottom: 2px #9a9696 solid;
    margin:0px 50px;
}
.menu nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 50px;
}

.header-link {
    text-decoration: none;
    color: rgb(46, 38, 38);
}

.header-link:hover {
    color: black
}

.home-category,.featured-collection,.featured-pro-section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-content: center;
    margin:50px 50px;
    column-gap: 50px;
}
.home-category p{
    text-align: center;
}
.featured h2,.featured-product h2{
    text-align: center;
    font-size: 2em;
}
.featured h3{
    font-size: 2em;
}
.featured-collection{
    margin: 5rem 7rem;
    align-items: center;
}

.footer{
    padding:2em;
    text-align: center;
    border-top: 2px #9a9696 solid;
    margin:0px 50px;
    font-weight: bold;
}
.shop-page {
    padding: 50px 50px;
}
.shop-page h1{
    text-align: center;
    margin-bottom: 100px;
}

.shop-product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: flex-start;
}

.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 50px;
}
  
.price {
    color: grey;
    font-size: 22px;
}

.card img {
    width:100%;
}
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}